<div class="navbar">
  <div class="brand">
    <%= link_to root_path do %>
      <%= image_tag "tyche-logo.png" %>
    <% end %>
  </div>
  <div class="search">
    <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search for items"%>
    <% end %>
  </div>
  <div class="links">
    <%= link_to "Upload Item", new_item_path, id: "upload-btn" %>
    <%= link_to "Chats", "#", id: "chats-btn" %>
    <%= link_to "Log in", new_user_session_path, id: "chats-btn" %>
  </div>
</div>
