<div class="navbar">
  <div class="brand">
    <%= link_to root_path do %>
      <%= image_tag "tyche-logo.png" %>
    <% end %>
  </div>
  <div class="search">
    <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search for items"%>
    <% end %>
  </div>
  <div class="links">
    <%= link_to "Upload Item", new_item_path, id: "upload-btn" %>
    <%= link_to "About", "#", id: "chats-btn" %>
    <% if user_signed_in? %>
      <i class="fas fa-user" id="user-btn"></i>
    <% else %>
      <%= link_to "Login", new_user_session_path, id: "chats-btn" %>
    <% end %>
  </div>
  <div class="burguer-menu">
    <div class="lines"></div>
  </div>
</div>

<div class="navbar-dropdown" hidden>
  <%= link_to "#" do %>
    <div class="link">
      <p>Exchanges</p>
    </div>
  <% end %>
  <%= link_to "#" do %>
    <div class="link">
      <p>Profile</p>
    </div>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <div class="link">
      <p>Logout</p>
    </div>
  <% end %>
</div>

<div class="navbar-dropdown-mobile opacity" hidden>
  <div class="links">
    <% if user_signed_in? %>
      <%= link_to "#" do %>
        <div class="link">
          <p>Upload Item</p>
        </div>
      <% end %>
      <%= link_to "#" do %>
        <div class="link">
          <p>Chats</p>
        </div>
      <% end %>
      <%= link_to "#" do %>
        <div class="link">
          <p>Exchanges</p>
        </div>
      <% end %>
      <%= link_to "#" do %>
        <div class="link">
          <p>Profile</p>
        </div>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="link">
          <p>Logout</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to "#" do %>
        <div class="link">
          <p>Upload Item</p>
        </div>
      <% end %>
      <%= link_to new_user_session_path do %>
        <div class="link">
          <p>Login</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
